<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 配置包扫描器 -->
    <context:component-scan base-package="cn.xinyuan.content.service"/>
    <dubbo:application name="xinyuan-content-web"/>
    <dubbo:registry protocol="zookeeper" address="${zookeeper.address}"/>
    <!--<dubbo:service interface="cn.xinyuan.content.service.ContentCategoryService"-->
                   <!--ref="contentCategoryServiceImpl" timeout="6000000"></dubbo:service>-->

    <!--<dubbo:service interface="cn.xinyuan.content.service.ContentService"-->
                   <!--ref="contentServiceImpl" timeout="6000000"></dubbo:service>-->

</beans>